<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selina.teamplayer"
    android:versionCode="3"
    android:versionName="1.03" > 

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission  android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    
   <permission
        android:name="in.wptrafficanalyzer.LocationGoogleMapV2Demo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
 
    <uses-permission android:name="in.wptrafficanalyzer.LocationGoogleMapV2Demo.permission.MAPS_RECEIVE"/>
 
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
      
   

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
         >
        
        <activity
            android:name="com.selina.teamplayer.Appstart"
            android:label="@string/title_activity_main"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <meta-data  
    android:name="com.google.android.maps.v2.API_KEY"  
    android:value="AIzaSyBtdNnNC-lLGYiY6qBszecMKNVYLOu8aW0"/>  
    <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        <activity android:name="com.selina.teamplayer.WhatsnewDoor" android:theme="@style/Anim_style2" />
        <activity android:name="com.selina.teamplayer.MainWeixin" android:theme="@style/Anim_style2" />
        <activity android:name="com.selina.teamplayer.Login"  android:theme="@android:style/Theme.NoTitleBar" />        
        <activity android:name="com.selina.teamplayer.Welcome"  android:theme="@style/Anim_style2"  />
        <activity android:name="com.selina.teamplayer.PlayerRegister"  android:theme="@style/Anim_style2"  />
            <activity android:name="com.selina.teamplayer.googlemap"  android:theme="@style/Anim_style2" />
             <activity android:name="com.selina.teamplayer.Checkin"  android:theme="@style/Anim_style2" />
        <activity android:name="com.selina.teamplayer.Whatsnew"  android:theme="@style/Anim_style2" />
        <activity android:name="com.selina.teamplayer.ChatActivity"  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="com.selina.teamplayer.ShakeActivity"  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="com.selina.teamplayer.InfoXiaohei"  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="com.selina.teamplayer.Exit" android:theme="@style/MyDialogStyle" />        
        <activity android:name="com.selina.teamplayer.ExitFromSettings" android:theme="@style/MyDialogStyleBottom" /> 
        <activity android:name="com.selina.teamplayer.InfoXiaoheiHead" android:theme="@style/HeadScale" />
        <activity android:name="com.selina.teamplayer.LoadingActivity" android:theme="@style/MyDialogStyle" />             
        <activity android:name="com.selina.teamplayer.MainTopRightDialog" android:theme="@style/MyDialogStyleTop" /> 
        <activity android:name="MedOptionsActivity"  android:theme="@style/Anim_style2" />
        <activity android:name="AddMedicationActivity"  android:theme="@style/Anim_style2" />
        <activity android:name="EditMedicationActivity"  android:theme="@style/Anim_style2" />
        <receiver android:name="com.selina.teamplayer.AlarmReceiver"/>
        <service android:name="com.selina.teamplayer.MedicationSchedulingService" />
    </application>

</manifest>